<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="user-name">Hello <%= user %></title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheet/dashboard.css">
    <link rel="stylesheet" href="/stylesheet/trending.css">
    <link rel="stylesheet" href="/stylesheet/searchbar.css">
  </head>
  <body>
    <div class="sidebar">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="small-bird">
          <g>
            <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">


            </path>
          </g>
        </svg>
          <div class="side-bar-item">
            <span class="material-symbols-outlined">
              home
              </span>
              <a href='/users/dashboard'>Home</a>
          </div>
          <div class="side-bar-item">
            <span class="material-symbols-outlined">
              tag
              </span>
              <a href='#'>Explore</a>
          </div>
          <div class="side-bar-item">
            <span class="material-symbols-outlined">
              bookmark
              </span>
              <a href='#'>Bookmarks</a>
          </div>
          <div class="side-bar-item">
            <span class="material-symbols-outlined">
              favorite
              </span>
              <a href='/users/like'>Likes</a>
          </div>
          <div class="side-bar-item">
            <span class="material-symbols-outlined">
              repeat
              </span>
              <a href='#'>Retweets</a>
          </div>
          <button class="btn btn-tweet" id="second-btn">Tweet</button>
    </div>
    <div class="feed">
      <div id="borderRight"></div>
      <div class="feed_header">
        <h2 id="entry-title">Hello</h2>
      </div>
      <div class="tweetbox">
          <div class="tweetbox-input">
          <form id="tweet-form">
            <textarea type="text" id="text" placeholder="What's Happening?"></textarea>
            <textarea type="text" id="name" style="display: none"><%= user %></textarea>
            <button type="button" class="tweetbox-btn" id="add-tweet">Tweet</button>
          </form>
         
      </div>  
    </div>
    <div id="add-to-me" class="add-to-me">
   
    </div>
    </div>
    <div class="searchbar">
      <input type="text" placeholder="Search.." class="search">
      <button type="submit"></button>
  </div>
    <div class="right-sidebar">
      <div class="sidebar-layout">
        <div class="trending">
          <div class="trends-for-you">
            <div class="trends-for-you-heading">
              What's Happening
            </div>
          </div>
          <div class="trends-for-you" id="trends-for-you">
            <a target="_blank" href="https://twitter.com/search?q=%23AEWDynamite">
            <div class="trends-for-you-information-top">
              Trending in the United States
            </div>
            <div class="trends-for-you-name">
              #AEWDynamite
            </div>
            <div class="trends-for-you-information-bottom">
              39551 Tweets
            </div>
            </a>
            <a target="_blank" href="https://twitter.com/search?q=Celtics">
              <div class="trends-for-you-information-top">
                Trending in the United States
              </div>
              <div class="trends-for-you-name">
                Celtics
              </div>
              <div class="trends-for-you-information-bottom">
                37107 Tweets
              </div>
              </a>
              <a target="_blank" href="https://twitter.com/search?q=Celtics">
                <div class="trends-for-you-information-top">
                  Trending in the United States
                </div>
                <div class="trends-for-you-name">
                  Naz Reid
                </div>
                <div class="trends-for-you-information-bottom">
                  2563 Tweets
                </div>
                </a>
                <a target="_blank" href="https://twitter.com/search?q=Nets">
                  <div class="trends-for-you-information-top">
                    Trending in the United States
                  </div>
                  <div class="trends-for-you-name">
                    Nets
                  </div>
                  <div class="trends-for-you-information-bottom">
                    27805 Tweets
                  </div>
                  </a>
                </div>
        </div>
      </div>
    </div>
    <script type="module" src="/js/dashboard.js"></script>
  </body>
  </html>
