
    <div id="borderRight"></div>
    <div class="feed_header">
      <h2 id="entry-title">Hello</h2>
    </div>
    <div class="tweetbox">
        <div class="tweetbox-input">
        <form id="tweet-form">
          <textarea type="text" id="text" placeholder="What's Happening?"></textarea>
          <button type="button" class="tweetbox-btn" id="add-tweet">Tweet</button>
        </form>
        
    </div>  
  </div>
  <div id="add-to-me" class="add-to-me"> 

  </div>
  